@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  /* font-size: 1.2rem; */
}

::selection {
  background-color: #0b372dbb;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.vignette {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 0.7)
  );
  pointer-events: none;
}

.parallax {
  pointer-events: none;
  transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.bg-img {
  position: absolute;
  z-index: 1;
  width: 120%;
  top: 30%;
  left: 50%;
}

.layer-11 {
  position: absolute;
  z-index: 10;
  width: 25%;
  top: 70%;
  left: 70%;
}

.layer-10 {
  position: absolute;
  z-index: 10;
  width: 75%;
  top: 70%;
  left: 32%;
}

.layer-9 {
  position: absolute;
  z-index: 9;
  width: 60%;
  top: 80%;
  left: 80%;
}

.layer-7 {
  position: absolute;
  z-index: 7;
  width: 30%;
  top: 85%;
  left: 50%;
}

.layer-5 {
  position: absolute;
  z-index: 5;
  width: 80%;
  top: 65%;
  left: 20%;
}

.text {
  position: absolute;
  z-index: 9;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  pointer-events: auto;
  color: white;
}

.title-name {
  font-family: "Great Vibes", cursive;
  letter-spacing: normal;
  margin: 3rem 0;
  font-size: 6rem;
}

.text h2 {
  font-weight: 300;
  font-size: 3rem;
  line-height: 0.88;
}

.text h1 {
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 0.88;
}

h3 {
  font-weight: 600;
  text-align: left;
  font-size: 1.7rem;
}

.dark {
  background-color: #272343;
  color: #bae8e8;
}

.light {
  background-color: #bae8e8;
  color: #272343;
}

.pi {
  margin-top: 0;
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  color: #f8b500;
  font-weight: bold;
}

.btn {
  background-color: #bae8e8;
  border-color: #272343;
  color: #272343;
  margin-bottom: 3rem;
}

.btn:hover {
  background-color: #f8b500;
  border-color: #f8b500;
  color: #272343;
}

.topContainer {
  padding: 5rem 0 10rem;
}

.container-fluid {
  padding: 3% 15% 5%;
}

li {
  list-style-type: none;
  text-align: left;
  font-size: 1.2rem;
}

ul {
  padding: 0;
  line-height: 2;
}

span {
  margin-left: 20px;
}

td {
  padding-left: 20px;
}

.language {
  text-align: right;
}

.stars {
  text-align: left;
}

.hobby {
  display: inline;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.img {
  display: flex;
  align-items: center;
}

.languages-image {
  width: 100%;
}

table {
  margin-bottom: 2rem;
}

.name {
  margin-top: 20px;
}

#hobbies h3 {
  text-align: center;
  padding-bottom: 1.5rem;
}

.hobby-image {
  width: 100%;
  border-radius: 90%;
}

.hobby {
  padding-top: 4rem;
}

@media (max-width: 1720px) {
  .text h2 {
    font-weight: 300;
    font-size: 2.8rem;
  }

  .text h1 {
    font-size: 4rem;
  }

  .bg-img {
    width: initial;
    height: 170%;
  }
}

@media (max-width: 1300px) {
  .bg-img {
    width: initial;
    height: 170%;
  }
}

@media (max-width: 1100px) {
  .container-fluid {
    padding: 3% 8% 5%;
  }
  .skills-image {
    width: 99%;
  }

  .bg-img {
    width: initial;
    height: 170%;
  }

  .text h2 {
    font-size: 1.8rem;
  }

  .text h1 {
    font-size: 3rem;
  }

  .layer-11 {
    width: initial;
    height: 40%;
  }

  .layer-10 {
    width: initial;
    height: 90%;
  }

  .layer-9 {
    width: initial;
    height: 55%;
  }

  .layer-7 {
    width: initial;
    height: 40%;
  }

  .layer-5 {
    width: initial;
    height: 58%;
  }
}

@media (max-width: 991px){
  .img {
    display: none;
  }
  li, h3 {
    text-align: center;
  }
  .container-fluid {
    padding: 3% 15% 5%;
  }
  h3 {
    margin-top: 3.5rem;
  }
  h1 {
    font-size: 10rem;
  }
  h2 {
    font-size: 8rem;
  }
  h3, .pi {
    font-size: 2.7rem;
  }
  li {
    font-size: 2.5rem;
  }
  td {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
}

@media (max-width: 725px) {
  .text h2 {
    font-size: 1rem;
  }

  .text h1 {
    font-size: 2rem;
  }

  .bg-img {
    width: initial;
    height: 150%;
  }

  .fog-7 {
    width: initial;
    height: 211.2%;
  }

  .hobby img {
    width: 33%;
  }
}
